# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# virtualenv:
.env

# virtualenv on windows (?)
env


/db.sqlite
/reversi.sublime-workspace
/reversi.sublime-project
