{% extends "base.html" %}
{% load url from future %}

{% block title %}{% if account %}Aktivierung erfolgreich!{% else %}Aktivierungsproblem{% endif %}{% endblock %}


{% block headline %}
    <div class="alert alert-info text-huge">
        Aktivierung erfolgreich!
    </div>
{% endblock headline %}


{% block content %}
    <div class="alert alert-success">
        Die Aktivierung wurde erfolgreich abgeschlossen! <br/>
        <br/>
        Du kannst dich nun mit deinem Benutzernamen und Passwort <a href='{% url "auth_login" %}'> einloggen </a> oder dein
        <a href='{% url "auth_password_reset" %}'>Passwort zurücksetzen</a>.
    </div>
{% endblock %}

