{% extends "base.html" %}
{% load url from future %}

{% block title %}{% if account %}Activation complete{% else %}Activation problem{% endif %}{% endblock %}


{% block headline %}
    <div class="alert alert-info text-huge">
        Aktivierung erfolgreich
    </div>
{% endblock headline %}


{% block content %}
    <div class="alert alert-success">
        Thanks you, activation complete! <br/>
        <br/>
        You may now <a href='{% url "auth_login" %}'> Login </a> using you username and password you set at registration or
        <a href='{% url "auth_password_reset" %}'>Reset</a> your password.
    </div>
{% endblock %}

