{% extends "base.html" %}
{% load url from future %}


{% block headline %}
    <div class="alert alert-info text-huge">
        Aktivierungsproblem
    </div>
{% endblock headline %}


{% block title %}Aktivierungsproblem{% endblock %}


{% block content %}
    <div class="alert alert-error">
        Hoppla &ndash; es sieht so aus, als wäre dein Aktivierungscode ungültig. <br/>
        <br/>
        Überprüfe die angegebene URL oder kontaktiere unseren Administrator.
    </div>
{% endblock %}

