{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      $("#submit_bt").button().click(function () {
        return true;
      });

      document.getElementById("id_username").focus();
    });
  </script>
{% endblock %}

{% block content %}
  <div class="well">
    {% if form.errors %}
      <p class="alert-message error">{% trans "Sorry, that is not a valid username or password" %}</p>
    {% endif %}

    <form method="post" action="{% url 'auth:login' %}" class="form-stacked">{% csrf_token %}
      <div class="clearfix">
        <label for="id_username">{% trans 'Username' %}</label>
        <input type="text" class="span3" name="username" id="id_username" />
      </div>

      <div class="clearfix">
        <label for="id_password">{% trans 'Password' %}</label>
        <input type="password" class="span3" name="password" id="id_password"/>
      </div>

      <div class="clearfix">
        <button id="submit_bt" class="btn primary">{% trans 'Log in' %}</button>
      </div>

      <input type="hidden" name="next" value="{{ next }}" />
      <input type="hidden" name="this_is_the_login_form" value="1" />
    </form>

  </div>
{% endblock %}

