Hallo, {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

Du (oder jemand, der sich für Dich ausgibt), hat eine Zurücksetzung Deines Passworts bei {{ domain }} angefordert.
Falls das nicht Du bist, ignoriere diese Email. Dein Passwort wird in diesem Fall NICHT geändert.

Um dein Passwort zurückzusetzen, klicke  auf folgenden Link oder kopiere ihn in deinen Browser:

{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

Das {{ site.name }} Team

