{% extends "base.html" %}
{% load url from future %}
{% block title %}Passwort zurücksetzen{% endblock %}

{% block content %}
    <div class="well span4">
        <h2>Passwort vergessen?</h2>
        Gib deine Email-Adresse ein und wir schicken dir eine Anleitung, wie du ein neues Passwort erstellst.

        <form method='post' style="padding-left: 0px; margin-top: 15px" action="{% url 'auth_password_reset' %}">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Passwort zurücksetzen" />
            <a href='{% url "main:index" %}' class="btn">Abbrechen</a>
        </form>
    </div>
{% endblock %}
