{% extends "base.html" %}
{% load url from future %}

{% block nav-right %}{% endblock %}


{% block headline %}
    <div class="alert alert-info text-huge">
        Aktivierungsemail gesendet
    </div>
{% endblock headline %}


{% block title %}Aktivierungsemail gesendet{% endblock %}


{% block content %}
    <div class="alert alert-success">
        Eine Aktivierungs-Email wurde an Dich verschickt! <br/>
        <br/>
        Überprüfe deine Mailbox und folge dem Link, um deinen Account zu aktivieren.
    </div>
{% endblock %}
