{% extends "base.html" %}

{% block extra_js %}
    <script type="text/javascript">
        window.game_id = {{ game.pk }};
        window.player_id = {{ player.pk }};
    </script>
{% endblock extra_js %}

{% block content %}
    <div class="row">
        <div class="span7">
            <table id="field">
                <tr ng-repeat="row in grid">
                    <td ng-repeat="tile in row" ng-click="hit_handler(tile)">
                        <reversi-field tile="tile"></reversi-field>
                    </td>
                </tr>
            </table>
        </div>

        <div class="span4">
            {% verbatim %}
                <div ng-repeat="player in players" class="alert" ng-class="highlight_current_player(player.id)">
                    <table class="table table-condensed">
                        <tr>
                            <th colspan="2" style="border-top: 0px">
                                <i class="icon-star" ng-show="is_current_player(player.id)"></i>
                                <span class="text-huge">

                                    {{ player.name }}
                                    <i class="icon-user" ng-show="is_player(player.id)">&nbsp;</i>
                                </span>
                            </th>
                        </tr>
                        <tr>
                            <td>Anzahl gesetzter Steine</td>
                            <td width="10%">
                                <span class="badge badge-info">
                                    {{ stats[player.id].tiles_set }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Anzahl eigener Steine</td>
                            <td width="10%">
                                <span class="badge badge-info">
                                    {{ stats[player.id].tiles }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Farbe</td>
                            <td class="stat-cell-{{ player.color }}"></td>
                        </tr>
                    </table>
                </div>

                <div class="alert alert-default">
                    <table class="table table-condensed">
                        <tr>
                            <th colspan="2" style="border-top: 0px">
                                <span class="text-huge">Spieldetails</span>
                            </th>
                        </tr>
                        <tr>
                            <td>Zuganzahl</td>
                            <td width="10%">
                                <span class="badge badge-info">
                                    {{ stats_sum('tiles_set') }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Steinanzahl</td>
                            <td width="10%">
                                <span class="badge badge-info">
                                    {{ stats_sum('tiles') }}
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="alert alert-default">
                    <table class="table table-condensed">
                        <tr>
                            <th colspan="5" style="border-top: 0px">
                                <span class="text-huge">Aktionen</span>
                            </th>
                        </tr>
                        <tr>
                            <td ng-repeat="dyn_btn in dynamic_buttons">
                                <button class="btn" ng-click="button_handler(dyn_btn.target)">
                                    {{ dyn_btn.name }}
                                </button>
                            </td>
                        </tr>

                    </table>
                </div>
            {% endverbatim %}
        </div>
    </div>

{% endblock content %}
