{% extends "base.html" %}
{% load static from staticfiles %}


{% block headline %}
    <div class="alert alert-info text-huge">
        {% if user.is_authenticated %}
            Lobby
        {% else %}
            Willkommen zu
        {% endif %}
    </div>
{% endblock headline %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="span12">
                <form method="GET">
                    <div class="input-prepend input-append">
                        <span class="add-on"><i class="icon-search"></i></span>
                        <input name="q" type="text" class="search-query input-xlarge" placeholder="Nach Spielern suchen">
                        <button class="btn" type="submit">Suchen</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <table class="table table-hover table-bordered">
                    <tr class="info">
                        <td class = "text-large">Gegner</td>
                        <td class = "text-large">Highscore</td>
                        <td class = "text-large">Spiele Gewonnen/Verloren</td>
                        <td class = "text-large">Herausfordern</td>
                    </tr>
                    {% for u in users %}
                        <tr>
                            <td>{{ u.nickname }}</td>
                            <td>{{ u.score }}</td>
                            <td>{{ u.games_won }}/{{ u.games_lost }}</td>
                            <td>
                                {% if u != user %}
                                    <a href="{% url 'main:new-game' enemy=u.pk %}" class="btn btn-mini btn-primary">Los!</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <div class="row">
            <img class="span12 well" src="{% static 'img/logo.png' %}" alt="REVERSI!">

            <div class="well span12 text-large">
                Tauch ein in die spannende Welt von Reversi und erlebe das Spiel neu!

                <dl>
                    <dt> Multiplayer </dt>
                    <dd>
                        Spiel mit so vielen Freunden, wie du willst – gleichzeitig!
                    </dd>
                    <dt style="margin-top: 15px"> Singleplayer </dt>
                    <dd>
                        Mit welchem der drei Schwierigkeitslevels kannst du’s aufnehmen?
                    </dd>
                    <dt style="margin-top: 15px"> Qual der Motivwahl </dt>
                    <dd>
                        Bist du der klassische Typ?
                        Stehst du eher auf Science Fiction? Oder magst du’s am liebsten verspielt?
                        Kein Problem – hier ist für jeden Geschmack eine Reversi-Version dabei!
                    </dd>
                </dl>
            </div>
        </div>
    {% endif %}
{% endblock content %}
