{% extends "base.html" %}
{% load static from staticfiles %}


{% block headline %}
    <div class="alert alert-info text-huge">
        {% if user.is_authenticated %}
            Lobby
        {% else %}
            Willkommen zu
        {% endif %}
    </div>
{% endblock headline %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="span12">
                <form method="GET">
                    <div class="input-prepend input-append">
                        <span class="add-on"><i class="icon-search"></i></span>
                        <input name="q" type="text" class="search-query input-xlarge" placeholder="Nach Spielern suchen">
                        <button class="btn" type="submit">Suchen</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Gegner</th>
                        <th>Highscore</th>
                        <th>Herausfordern</th>
                    </tr>
                    {% for u in users %}
                        <tr>
                            <td>{{ u.nickname }}</td>
                            <td>0</td>
                            <td>
                                {% if u != user %}
                                    <a href="{% url 'main:new-game' enemy=u.pk %}" class="btn btn-mini btn-primary">Los!</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <div class="row">
            <img class="span12 well" src="{% static 'img/logo.png' %}" alt="">

            <div class="well span12 text-large">
                Tauchen Sie ein in die spannende Welt von Reversi und
                <ul>
                    <li>
                        Spielen Sie mit all ihren Freunden gleichzeitig.
                    </li>
                    <li>
                        Spielen Sie gegen den Computer und entwickeln dabei neue Strategien.
                    </li>
                    <li>
                        W&auml;hlen Sie aus verschiedenen Motiven je nachdem ob Sie gerade Lust auf
                        Klassisches Reversi oder einer Scienefiction Version haben.
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock content %}
