{% extends "base.html" %}


{% block headline %}
    <div class="alert alert-info text-huge">
        Meine Spiele
    </div>
{% endblock headline %}


{% block extra_js %}
    <script type="text/javascript">
        $('#ist_dran').tooltip();
    </script>
{% endblock extra_js %}



{% block content %}
    {% for game in games %}
        {% if forloop.counter0|divisibleby:2 %}
            <div class="row">
        {% endif %}

            <div class="well span6">
                <table class="table table-condensed">
                    <tr>
                        <th width="70%" style="border-top: 0px">
                            <span class="text-huge">
                                {% if not game.end and game.next_player.user == user %}
                                    <i id="ist_dran" class="icon-star-large" title="Du bist am Zug"></i>
                                {% endif %}
                                <a href="{% url 'main:game' id=game.pk %}">{{ game.name }}</a>
                            </span>
                        </th>
                        <th style="border-top: 0px">
                            {% if game.denyable %}
                                <a href="{% url 'main:deny-game' id=game.pk %}" class="btn btn-mini btn-danger">Ablehnen</a>
                            {% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th>Kontrahent</th>
                        <td>
                            {% if user ==  game.player1.user %}
                                {{ game.player2.user.nickname }}
                            {% else %}
                                {{ game.player1.user.nickname }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Erstellt am</th>
                        <td>
                            {{ game.created|date:"d. M Y" }}
                        </td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>
                            {% if game.end %}
                                {% if game.winner %}
                                    GewinnerIn: {{ game.winner.user.nickname }}
                                {% else %}
                                    unentschieden
                                {% endif %}
                            {% else %}
                                Noch nicht beendet
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>

        {% if forloop.counter|divisibleby:2 %}
            </div>
        {% endif %}
    {% empty %}
        Noch nie ein Spiel gespielt
    {% endfor %}
{% endblock content %}
