/*! mobile specific CSS goes here.
    this is just an addition to project.less */
//@import url("bootstrap/bootstrap.less");
@import url("project.less");

// Variables for all mobile devices
@cell_margin: 1px;
@cell_border_size: 0px;

#field {
    margin-left: -20px;
    padding-right: 0px;
}


// 480x320, old smartphones
/*
@media(max-width: 320px) and (max-height: 480px){
    body {background: #C00}

}*/

// 800x480 Landscape
@media(max-width: 800px) and (max-height: 480px) {
    body {background: #C0C;} //"Debug"
    @cell_width: 30px;
    @cell_heigth: @cell_width;
    .field-cell { width : @cell_width; height: @cell_heigth;}
}

// 480x800, most common (Galaxy S1, S2, ...)
@media(max-width: 480px) and (max-height: 800px){
    body {background: #0C0} //"Debug"
    @cell_width: 36px;
    @cell_heigth: @cell_width;
    .field-cell { width : @cell_width; height: @cell_heigth;}
}

// higher (Full HD, Retina)
/*
@media(min-width: 481px) and (min-height: 801px){
    body {background: #000}
}*/
