/*! project specific CSS goes here. */
@field_size: 8;

@border_color: #CCC;
@radius: 4px;

@cell_width: 67px;
@cell_heigth: @cell_width;
@cell_margin: 2px;
@cell_border_size: 2px;


.field-cell {
    width: @cell_width;
    height: @cell_heigth;
    float: left;

    border: @cell_border_size solid @border_color;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;

    margin: @cell_margin;
}
.field-cell-state-valid {
    // valid field
    background: #CCC;
    cursor: pointer;
}
.field-cell-image-black {
    background-image: url("/static/img/black.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.field-cell-image-white {
    background-image: url("/static/img/white.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.field-cell-state-black {
    .field-cell-image-black;
    background-color: #ffffff;
    background-size: @cell_width @cell_heigth
}
.field-cell-state-white {
    .field-cell-image-white;
    background-color: #ffffff;
    background-size: @cell_width @cell_heigth
}
.field-cell-state-empty {
    // empty field
    background: #FFF;
}

.stat-cell-black {
    .field-cell-image-black;
    background-size: 20px;
    background-position: left center;
}

.stat-cell-white {
    .field-cell-image-white;
    background-size: 20px;
    background-position: left center;
}

.text-huge {
    font-size: 25px;
}

.alert-default {
    color: #000;
    background-color: #ffffff;
    border: 1px solid #ccc;
}
